{% extends "base.html" %}
{% load static crispy_forms_tags i18n %}
{% load i18n filters %}


{% block content %}
  <div class="col-lg-5">
    <h2>Lijnen <span title="Dienstregelingsdatum">{{ operator_date|date:"d-m-Y" }}</span> </h2>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" id="line_search" placeholder="{% trans 'Lijnnummer of eindbestemming' %}">
    </div><br />
    <table class='table table-condensed table-hover'>
        <thead>
          <tr>
            {% for name in header %}
              <th>{{ name }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody id="rows">
          {% if lines %}
            {% for line in lines %}
              <tr class="line">
                <td>{{ line.publiclinenumber }}</td>
                <td>{{ line.headsign }}<td>
              </tr>
            {% endfor %}
          {% endif %}
      </table>
  </div>
{% endblock %}
