{% load i18n filters %}

<h4>{% trans "Lijn" %} {{ line.grouper.publiclinenumber }} <small>{{ line.grouper.headsign }}</small></h4>
  <table class="table table-condensed table-bordered table-striped">
  <tr id="highlight">
        <th class="col-lg-1">{% trans "Ritdatum"%}</th>
        {% comment %}
        <th class="col-lg-1">{% trans "Lijn" %}</th>
        {% endcomment %}
        <th class="col-lg-2">{% trans "Rit" %}</th>
        <th class="col-lg-1">&nbsp;</th>
  </tr>
  {% for msg in line.list %}
      <tr>
          <td>{{ msg.operatingday|date:"d-m-Y" }}</td>
          {% comment %}
          <td>{{ msg.line.publiclinenumber }}</td>
          {% endcomment %}

          <td>{{ msg.journey.journeynumber }} <small>(Vertrek {{msg.journey.departuretime|seconds_time|date:"H:i"}})</small></td>
          <td>
            {% if perms.openebs.add_change %}
                <form method="post" action="{% url 'change_delete' msg.id %}">
                    {% csrf_token %}
                    <button class="btn btn-xs btn-danger pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            {% endif %}
          </td>
      </tr>
  {% endfor %}
  </table>